<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Invoice</title>
   <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f8f8f8;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    header {
      background-color: #83A2FF;
      color: #fff;
      padding: 10px;
      text-align: center;
    }

    footer {
      background-color: #83A2FF;
      color: #000;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: 100%;
      text-align: center;
    }

    form {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 1000px;
      max-width: 100%;
      
    }

    h2 {
      text-align: center;
      color: #333;
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-bottom: 8px;
      color: #555;
    }

    input {
      width: calc(100% - 16px);
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      background-color: #83A2FF;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: 20%;
      transition: background-color 0.3s ease;
      margin: auto; /* Center align the button */
    }

    button:hover {
      background-color: #000;
    }

    .button {
            display: inline-block;
            padding: 10px 20px;
            text-decoration: none;
            color: #fff;
            background-color: #83A2FF;
            border: 1px solid #000;
            border-radius: 5px;
            transition: background-color 0.3s;
            margin: auto;
        }

        .button:hover {
            background-color: #6d7379;
        }
  </style>
</head>
<body>
    <a href="/dashboard" class="button">Dashboard</a>
    <a href="/invoices" class="button">Invoice</a>
  
  <h2>Insert a New Invoice</h2>
  <form method="post" action="/invoices">
    
    <label for="Invoice ID">Invoice ID:</label>
    <input type="text" name="Invoice ID" required>
    <br>
    <label for="Branch">Branch:</label>
    <input type="text" name="Branch" required>
<br>
    <label for="City">City:</label>
    <input type="text" name="City" required>
<br>
    <label for="Customer type">Customer Type:</label>
    <input type="text" name="Customer type"  required>
<br>
    <label for="Product line">Product Line:</label>
    <input type="text" name="Product line"  required>
<br>
    <label for="name">Product Name:</label>
    <input type="text" name="name"  required>
<br>
    <label for="image">Image URL:</label>
    <input type="text" name="image" required>
<br>
    <label for="Unit price">Unit Price:</label>
    <input type="number" name="Unit price" required>
<br>
    <label for="Quantity">Quantity:</label>
    <input type="number" name="Quantity" required>
<br>
    <label for="Tax 5%">Tax 5%:</label>
    <input type="number" name="Tax 5%" required>
<br>
    <label for="Total">Total:</label>
    <input type="number" name="Total"  required>
<br>
    <label for="Date">Date:</label>
    <input type="text" name="Date"  required>
<br>
    <label for="Time">Time:</label>
    <input type="text" name="Time"  required>
<br>
    <label for="Payment">Payment Method:</label>
    <input type="text" name="Payment" required>
<br>
    <label for="cogs">COGS:</label>
    <input type="number" name="cogs"  required>
<br>
    <label for="gross income">Gross Income:</label>
    <input type="number" name="gross income"  required>
<br>
    <label for="Rating">Rating:</label>
    <input type="number" name="Rating" required>
<br>

    <button type="submit">Insert Invoice</button>
  </form>
   
</body>
</html>